<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        Favorites
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  
<div class="card">
  <div class="header">
    <div class="avatar">
      <img src="https://www.al.sp.gov.br/repositorio/deputadoPortal/fotos/20230315-170849-id=1649-PEQ.jpeg" alt="">
    </div>
  </div>
</div>
<div class="card-body">
  <div class="user-meta ion-text-center">
    <h3 class="playername">Borges Lagoa</h3>
    <h5 class="country">Brasil</h5>
    <h6 class="ranking">Current ranking: <ion-chip>
      <ion-label>2</ion-label>
      </ion-chip>
    </h6>
  </div>
  <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
  <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
  <ion-button expand="full" color="secondary">View profile at ATP</ion-button>
</div>
</ion-content>